@font-face {
	font-family: 'Futura MdCn BT';
	src: url(../../assets/fonts/FuturaBT-MediumCondensed.woff2) format('woff2'),
	url(../../assets/fonts/FuturaBT-MediumCondensed.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}