@font-face {
	font-family: 'Futura Hv BT';
	src: url(../../assets/fonts/FuturaBT-HeavyItalic.woff2) format('woff2'),
	url(../../assets/fonts/FuturaBT-HeavyItalic.woff) format('woff');
	font-weight: 900;
	font-style: italic;
}