@font-face {
	font-family: 'Futura LtCn BT';
	src: url(../../assets/fonts/FuturaBT-LightCondensed.woff2) format('woff2'),
	url(../../assets/fonts/FuturaBT-LightCondensed.woff) format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: auto;
}